@model LoginViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress,
         new { placeholder = "Enter email", @class = "form-control", type = "email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password,
         new { placeholder = "Enter password", @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.RememberMe)
            Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
